
/* Configura o layout em grid do dashboard */
.grid-dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px 0;
  }

  /* Configura o  cartão individual do dashboard */
  .dashboard-card {
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  /* Configura o titulo do dashboard */
  .dashboard-title {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
  }