
/* Configura a tabela de funcionários */
.tabela-funcionarios {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Configura para o cabeçalho da tabela de funcionários */
.tabela-funcionarios thead {
    background-color: #0e639c;
    color: white;
}

/* Configura para o cabeçalho e celulas da tabela de funcionários */
.tabela-funcionarios th,
.tabela-funcionarios td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Configura para linhas da tabela de funcionários */
.tabela-funcionarios tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

/* Configura para o input e select da tabela de funcionários */
.tabela-funcionarios input,
.tabela-funcionarios select {
    width: 100%;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Configura para o botão da tabela de funcionários */
.tabela-funcionarios button {
    margin: 4px 4px 0 0;
    padding: 6px 12px;
    font-size: 13px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
/* Configura para o botão da tabela de funcionários ao passar o mouse*/
.tabela-funcionarios button:hover {
    opacity: 0.9;
}

/* Configura para o primeiro botão da tabela de funcionários*/
.tabela-funcionarios button:nth-child(1) {
    background-color: #2a90b9; 
    color: white;
}

/* Configura para o segundo botão da tabela de funcionários*/
.tabela-funcionarios button:nth-child(2) {
    background-color: #247b9e; 
    color: white;
}

/* Configura para telas menores*/
@media (max-width: 768px) {
    .tabela-funcionarios {
        font-size: 14px;
    }

    .tabela-funcionarios th,
    .tabela-funcionarios td {
        padding: 10px;
    }

    .tabela-funcionarios button {
        padding: 5px 10px;
        font-size: 12px;
    }
}

/* Configura para os elementos da classe*/
.register,.re {
    margin: 2px;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    background-color:#2a90b9;
    color:#fff;
    text-decoration: none;
    border: none;
}

/* Configura ao passar o mouse*/
.register:hover,.re:hover {
    
    background-color:#0e639c;
    color:#fff;
    text-decoration: none;
    border: none;
}

/* Configura o botão*/
button {
    margin: 2px;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    
}

/* Configura o botão ao passar o mouse*/
button:hover {
    opacity: 0.9;
}

