
/* Container principal de reservas */
.reservas-clientes-container {
    width: 790px;
    height: auto;
    margin: auto;
    padding: 20px;
    align-self: center;
    background-color:#ffffffa6;
}

/* Configuração do filtro */
.filtros {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    align-items: center;
}

/* Configuração dentro filtro */
.filtros input,
.filtros select,
.filtros label {
    font-size: 12px; 
    padding: 5px 10px; 
    margin: 0; 
    height: 30px; 
}
/* Configuração especifica para o filtro */
.filtros label {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Configuração da tabela de reserva */
.reservas-table {
   
    border-collapse: collapse;
}
/* Configuração dos estilos da tabela */
.reservas-table th,
.reservas-table td {
    border: 1px solid #237eba28;
      text-align: center;
      background-color: #b3e5fa88;
}
/* Configuração especifica para o cabeçalho*/
.reservas-table th {
    background-color: #237ebab0;
    color: #f2f2f2;
}

/* Configuração das celulas de ação */
.actions-cell {
    display: flex;
    justify-content: center; 
    gap: 8px; 
}




/* Configuração do modal */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Configuração do overlay do modal */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Configuração dentro do modal */
.modal-content {
    display: flex;
    flex-direction: column;
}

/* Configuração das labels do modal */
.modal-content label {
    margin-top: 10px;
}

/* Configuração das açoes do modal salvar e cancelar */
.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

/* Configuração dos botoes salvar e cancelar */
.modal-actions button {
    margin-left: 10px;
    padding: 8px 50px;
   
    
}


 /* Configuração dos botão salvar */
.edit{
    background-color: #1785B4;
    border: none;
    color: #f2f2f2;
}

/* Configuração dos botão salvar ao passar o mouse */
.edit:hover{

    background-color: #14b3f7 ;
}

/* Configuração dos botão cancelar */
.canncel{
    background-color: #528891;
    border: none;
    color: #f2f2f2;
}

/* Configuração dos botão cancelar ao passar o mouse*/
.canncel:hover{

    background-color: #1785B4 ;
}

/* Configuração dos botão concluir */
.conclude{
    background-color: #51a7b6;
    border: none;
    color: #f2f2f2;
}

/* Configuração dos botão concluir ao passar o mouse*/
.conclude:hover{

    background-color: #528891 ;
}