/* container principal de detalhes */
.client-details-container {
    background-color: #ffffff62;
    padding: 66px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

/* grid que organiza os dados */
.data-grid {
    display: grid;
    grid-template-columns: 15fr 5fr;
    gap: 10px;
    margin-bottom: 40px;
}

/* estilo para cada item */
.data-item {
    text-align: left;
}

/* Agrupa os botoes */
.button-group {
    display: flex;
    justify-content: start;
    gap: 20px;
}
/* esstilo geral dentro dos botoes */
.button-group button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para o botão salvar */
.edit-button,.save {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para o botão de fazer reserva */
.reserve-button {
    background-color: #1785B4;
    color: white;
}

/* Estilo para o botão cancelar */
.cancel {
    width: 40%;
    height: 35px;
    background-color: #1785B4;
    border: none;
    color: white;
}
/* Estilo especifico para o botão salvar */
.edit-button,.save {
    width: 50%;
    background-color: #528891;
    color: white;
}
/* Configuração do modal */
.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Configuração conteudo interno do modal */
.modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

/* Configuração do botão de detalhes da reserva */
.btn-details{
    background-color: #41aeed;
    width: 20%;
    color: #fff;
    border: none;
 }